/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Roboto', sans-serif;
  background-color: #FEF7FF;
  max-width: 1200px; /* Add maximum width */
  margin: 0 auto; /* Center the content */
  padding: 0 1rem; /* Add some padding on the sides */
}