<main
  class="min-h-screen bg-white flex items-center justify-center w-full rounded-b-3xl p-8 border-2 border-gray-200"
>
  <div class="flex w-full max-w-7xl mx-auto px-4">
    <!-- Left Side - Login Form -->
    <div class="w-full md:w-[70%] flex justify-center">
      <div
        class="w-full max-w-lg bg-white rounded-xl p-8 flex flex-col justify-center border-2 border-gray-200"
      >
        <!-- Header Section -->
        <div class="text-center mb-6">
          <div
            class="w-16 h-16 mx-auto mb-4 bg-primary rounded-full flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-8 w-8 text-secondary"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
              />
            </svg>
          </div>
          <h1 class="text-2xl font-semibold text-gray-800">Welcome Back</h1>
          <p class="text-sm text-gray-500 mt-2">Sign in to continue</p>
        </div>

        <!-- Form Section -->
        <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div>
            <label
              for="email"
              class="block text-sm font-medium text-gray-700 mb-2"
              >Email</label
            >
            <div class="relative">
              <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
                <i class="fas fa-envelope text-gray-400"></i>
              </span>
              <input
                id="email"
                type="email"
                name="email"
                required
                placeholder="Enter your email"
                class="w-full pl-10 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-button-primary-darker"
              />
            </div>
          </div>

          <div>
            <label
              for="password"
              class="block text-sm font-medium text-gray-700 mb-2"
              >Password</label
            >
            <div class="relative">
              <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
                <i class="fas fa-lock text-gray-400"></i>
              </span>
              <input
                id="password"
                type="password"
                name="password"
                required
                minlength="6"
                placeholder="Enter your password"
                class="w-full pl-10 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-button-primary-darker"
              />
              <button
                type="button"
                class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-600 hover:text-gray-800 focus:outline-none"
              >
                <i class="fas fa-eye"></i>
              </button>
            </div>
          </div>
          <div class="flex flex-col items-center justify-center">
            <button
              type="submit"
              (click)="onLogin()"
              class="w-1/2 bg-button-primary text-white py-2 px-4 rounded-2xl hover:bg-button-primary-darker transition focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-button-primary-darker"
            >
              Login
            </button>

            <p class="text-sm text-gray-600 mt-4">
              Don't have an account?
              <a href="/register" class="text-button-primary hover:underline"
                >Register</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>

    <!-- Right Side - Image -->
    <div class="hidden md:w-1/2 md:flex items-center justify-center">
      <img
        src="/login-pic/person-login.png"
        alt="Login Illustration"
        class="max-h-screen object-cover w-[350px]"
      />
    </div>
  </div>
</main>
