:host {
  display: block;
}

.modal-container {
  will-change: transform, opacity;
  transform-origin: center center;
}

.modal-backdrop {
  will-change: opacity;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

